@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
}

main {
    height: clac(100vh - 70px);
    display: flex;
    background-color: #f9f9f9;
}

.side-bar {
    height: 100%;
    width: 17%;
    background-color: white;
    overflow-y: hidden;
}

@media (max-width: 768px) {
    .side-bar {
        display: none;
    }
}